{{ attach_library('upanupstarter/header') }}
<header class="header" id="header">
  <div class="header__row header__row--middle">
    <div class="header__menu-search">
      <div class="container">
        <div class="header__nav-search-trigger">
          <div class="nav nav--header" id="header-menu">{{ page.nav__header }}</div>
          {{ attach_library('upanupbase/mobile_search_trigger')}}
          <button class="mobile-search-trigger" aria-controls="search-form" aria-expanded="false"><span class="visually-hidden">Open the search form</span></button>
        </div>
        <div class="search-form" id="search-form">{{ page.search }}</div>
      </div>
    </div>
  </div>
  <div class="header__row header__row--bottom">
    <div class="container">
      <div class="header__logo">{{ page.logo }}</div>
      <div class="header__menu-wrapper" id="main-menu-wrapper">
        {{ attach_library('upanupstarter/mobile-menu-trigger') }}
        <button class="button button--emphasis mobile-menu-trigger" aria-controls="main-menu" aria-expanded="false">Menu</button>
        <div class="nav nav--main" id="main-menu">{{ page.nav__main }}</div>
      </div>
    </div>
  </div>
</header>