{% include '/themes/contrib/upanupstarter/inc/header.twig' %}
{% if node.field_hide_sidebar.0.value == 1 or (page.nav__section|render is empty and page.sidebar|render is empty and page.banner__sidebar|render is empty) %}
	{% set contentClass = 'content content--fw' %}
{% else %}
	{% set contentClass = 'content' %}
{% endif %}
<main role="main" class="main">
	{% if page.banner|render is not empty %}
	{{ attach_library('upanupstarter/banner--fullwidth') }}
	<div class="banner banner--page">{{ page.banner }}</div>
	{% endif %}
	{% if page.highlighted|render is not empty %}
	<section class="messages-wrapper">
		<div class="container">{{ page.highlighted }}</div>
	</section>
	{% endif %}
  <div class="container">
		{% if node.field_hide_sidebar.0.value != 1 and (page.nav__section|render is not empty or page.sidebar|render is not empty or page.banner__sidebar|render is not empty) %}
		<div class="sidebar{% if page.sidebar|render is empty and page.banner__sidebar|render is empty %} sidebar--nav-only{% endif %}">
			{% if page.banner__sidebar|render is not empty %}
			{{ attach_library('upanupstarter/banner--sidebar') }}
			<aside class="sidebar__aside sidebar__aside--banner">{{ page.banner__sidebar }}</aside>
			{% endif %}
			{% if page.nav__section|render is not empty %}{{ page.nav__section }}{% endif %}
			{% if page.sidebar|render is not empty %}<aside class="sidebar__aside">{{ page.sidebar }}</aside>{% endif %}
		</div>
		{% endif %}
		<div class="{{ contentClass }}" id="main-content">
			{% if page.banner__content|render is not empty %}
			{{ attach_library('upanupstarter/banner--content') }}
			{{ page.banner__content }}
			{% endif %}
			{{ page.nav__breadcrumbs }}
			{{ page.help }}
			{{ page.content }}
		</div>
  </div>
</main>
{% include '/themes/contrib/upanupstarter/inc/footer.twig' %}