{% include '/themes/custom/upanupstarter/inc/header.twig' %}
<main role="main" class="main" id="main-content">
	{% if page.banner|render is not empty %}
	<div class="banner">{{ page.banner }}</div>
	{% endif %}
	{% if page.highlighted|render is not empty %}
	<section class="messages-wrapper">
		<div class="container">{{ page.highlighted }}</div>
	</section>
	{% endif %}
  <div class="container">
		<div class="content content--fw">
			{{ page.help }}
			<h1 class="visually-hidden">{{ node.label }}</h1>
			{{ page.content }}
		</div>
  </div>
</main>
{% include '/themes/custom/upanupstarter/inc/footer.twig' %}